.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 48px;
}

.title {
  color: var(--Text-Soft-Black, #212121);
  font-size: 40px;
  font-weight: 900;
  line-height: normal;
}

.content {
display: flex;
  justify-content: space-between;
}

.img {
  width: 320px;
  height: 432px;
  border-radius: 30px;

}

.description {
  width: 440px;
}