.title {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.contentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 800px;
}