.container {
  margin: 0 auto;
  width: 800px;
}

.img {
  margin-top: 16px;
  margin-bottom: 16px;
 display: flex;
  justify-content: center;
}

.img2 {
  margin-top: 16px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}