.header {
 display: flex;
 height: 80px;
 width: 1408px;
background-color: rgba(255, 255, 255, 0.90);
 position: fixed;
 margin-left: 50px;
 padding: 8px;
 border-radius: 0px 0px 30px 30px;
}

.navBar {
 display: flex;
 margin-left: 16px;
}

.img {
 width: 144.361px;
 height: 64px;

}