.header {
 position: relative;
 margin: 0 auto;
 display: flex;
 height: 80px;
 width: 1408px;
background-color: rgba(255, 255, 255, 0.90);
 position: fixed;
 margin-left: 50px;
 padding: 8px;
 border-radius: 0 0 30px 30px;
 @media screen and (max-width: 1024px) {
  width: 360px;
  position: static;
 }
}

.navBar {
 display: flex;
 margin-left: 16px;

}

.img {
 width: 144.361px;
 height: 64px;
 margin-right: 576px;
}

.point {
 font-size: 16px;
 font-style: normal;
 font-weight: 900;
 line-height: normal;
 padding: 16px;

 @media screen and (max-width: 1024px) {
  display: none;
 }
}

.btn {
 border-radius: 30px;
 background: var(--Accent, #FFE500);
 display: flex;
 height: 48px;
 padding: 16px 32px;
 justify-content: center;
 align-items: center;
 font-size: 16px;
 font-weight: 900;
 margin-left: 16px;
 margin-top: 3px;
 @media screen and (max-width: 1024px) {
  display: none;
 }
}

.menu {
 display: flex;
 padding: 16px;
 height: 50px;
 align-items: center;
 gap: 10px;
 border-radius: 20px;
 background: var(--Accent, #FFE500);
 margin-right: 36px;
 @media screen and (max-width: 1024px) {
  display: none;
 }
}